#header{
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
}

#logo{
    margin-bottom: 17px;
    margin-left: 20px;
}

#nav-bar{
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.nav-link{
    text-decoration: none;
    color: blue;
    font-weight: 500;
}

.contact-form{
    background-color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.submit{
    background-color: rgb(251, 216, 171);
    font-weight: 700;
}

